
$white: #F1FBFF;
$gray-100: #CFD8DC;
$gray-200: #B0BEC5;
$gray-300: #90A4AE;
$gray-400: #78909C;
$gray-500: #607D8B;
$gray-600: #546E7A;
$gray-700: #455A64;
$gray-800: #37474F;
$gray-900: #263238;
$black: #F1FBFF;
$blue: #2196F3;
$indigo: #9C27B0;
$purple: #673AB7;
$pink: #D81B60;
$red: #d50000;
$orange: #FB8C00;
$yellow: #FDD835;
$green: #5cb85c;
$teal: #009688;
$cyan: #26C6DA;
$primary: $pink;
$success: $green;
$info: $teal;
$warning: $orange;
$danger: $red;
$light: $white;
$dark: $gray-900;
$yiq-contrasted-threshold: 185;
$body-bg: $dark;
$body-color: $light;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-muted: rgba(255,255,255,.4);
$table-accent-bg: rgba($white,.05);
$table-hover-bg: rgba($white,.075);
$table-border-color: rgba($black,.15);
$table-head-bg: $light;
$table-dark-bg: $light;
$table-dark-border-color: $gray-200;
$table-dark-color: $body-bg;
$input-border-color: transparent;
$input-group-addon-color: $body-color;
$custom-file-button-color: $white;
$custom-file-border-color: $gray-200;
$dropdown-bg: $gray-200;
$dropdown-divider-bg: rgba($black,.15);
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $table-hover-bg;
$nav-link-disabled-color: rgba(255,255,255,.4);
$nav-tabs-border-color: $gray-200;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color: $gray-200;
$navbar-padding-y: 0.25rem;
$navbar-dark-hover-color: $white;
$pagination-color: $white;
$pagination-bg: $gray-800;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: $nav-link-disabled-color;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-color: $nav-link-disabled-color;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-border-color;
$modal-content-bg: $gray-800;
$modal-header-border-color: rgba(0,0,0,.2);
$card-cap-bg: $table-hover-bg;
$card-bg: $gray-800;
$popover-bg: $gray-800;
$popover-header-bg: $table-hover-bg;
$list-group-bg: $gray-800;
$list-group-border-color: transparent;
$list-group-hover-bg: $nav-link-disabled-color;
$list-group-disabled-color: $nav-link-disabled-color;
$list-group-action-color: $white;
$list-group-action-hover-color: $white;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$pre-color: inherit;
$input-bg: $light;
$input-disabled-bg: $gray-800;
$input-color: $gray-800;
$input-placeholder-color: $gray-500;
$tooltip-bg: $gray-800;
$toast-background-color: $gray-800;
$toast-header-color: $gray-100;
$toast-header-background-color: $gray-700;
$navbar-light-color: $gray-600;
$navbar-light-hover-color: $gray-800;
$navbar-light-active-color: $gray-900;
$progress-bg: $gray-800;
$breadcrumb-bg: $gray-800;
$jumbotron-bg: $gray-800;